<a href="https://colab.research.google.com/github/danilopinho75/Exercicios-SQL-Sirius/blob/main/SQL_Aula02_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [1]:
!pip install jupysql

Requirement already satisfied: jupysql in /usr/local/lib/python3.10/dist-packages (0.10.12)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.11.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (2.0.32)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.5.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.10/dist-packages (from jupysql) (20.11.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.4.4)
Requirement already satisfied: ploomber-core>=0.2.7 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.25)
Requirement already satisfied: ploomber-extension in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.1.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: posthog in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (3.6.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (2.1.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->jupysql) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.7.4)

In [2]:
%load_ext sql

Deploy FastAPI apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [3]:
%sql sqlite:///

Connecting to 'sqlite:///'

# Exerc√≠cios

1. Crie uma tabela chamada "clientes" com as colunas "id" (integer), "nome" (text) e "email" (text).

In [4]:
%%sql
create table clientes (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome TEXT,
  email TEXT
)

Running query in 'sqlite:///'

++
||
++
++

2. Crie uma tabela chamada "produtos" com as colunas "id" (integer), "nome" (text), "preco" (numeric) e "quantidade" (integer).

In [5]:
%%sql
create table produtos (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome TEXT,
  preco NUMERIC,
  quantidade INTEGER
);

Running query in 'sqlite:///'

++
||
++
++

3. Crie uma tabela chamada "pedidos" com as colunas "id" (integer), "cliente_id" (integer) e "total" (numeric).

In [7]:
%%sql
create table pedidos (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  cliente_id INTEGER,
  total NUMERIC,
  FOREIGN KEY (cliente_id) REFERENCES clientes(id)
);

Running query in 'sqlite:///'

++
||
++
++

4. Adicione uma coluna chamada "endereco" (text) na tabela "clientes"

In [8]:
%%sql
ALTER TABLE clientes
ADD COLUMN endereco TEXT;

Running query in 'sqlite:///'

++
||
++
++

5. Crie uma tabela chamada "fornecedores" com as colunas "id" (integer), "nome" (text) e "telefone" (text).

In [15]:
%%sql
CREATE TABLE fornecedores (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome TEXT,
  telefone TEXT
);

Running query in 'sqlite:///'

++
||
++
++

6. Exclua a tabela "produtos".

In [13]:
%%sql
DROP TABLE produtos;

Running query in 'sqlite:///'

++
||
++
++

7. Insira um novo cliente com nome "Jo√£o" e email "joao@example.com".

In [16]:
%%sql

INSERT INTO clientes (nome, email)
VALUES ("Jo√£o", "joao@example.com")

Running query in 'sqlite:///'

1 rows affected.

++
||
++
++

In [18]:
%%sql
SELECT * FROM clientes;

Running query in 'sqlite:///'

+----+------+------------------+----------+
| id | nome |      email       | endereco |
+----+------+------------------+----------+
| 1  | Jo√£o | joao@example.com |   None   |
+----+------+------------------+----------+


8. Insira um novo fornecedor com nome "ABC Distribuidora" e telefone "123-456789".

In [19]:
%%sql
INSERT INTO fornecedores (nome, telefone)
VALUES ("ABC Distribuidora", "123-456789")

Running query in 'sqlite:///'

1 rows affected.

++
||
++
++

In [20]:
%%sql
SELECT * FROM fornecedores;

Running query in 'sqlite:///'

+----+-------------------+------------+
| id |        nome       |  telefone  |
+----+-------------------+------------+
| 1  | ABC Distribuidora | 123-456789 |
+----+-------------------+------------+

9. Exclua todos os clientes que possuem email "joao@example.com".

In [21]:
%%sql
SELECT
  *
FROM
  clientes
WHERE
  email = "joao@example.com"

Running query in 'sqlite:///'

+----+------+------------------+----------+
| id | nome |      email       | endereco |
+----+------+------------------+----------+
| 1  | Jo√£o | joao@example.com |   None   |
+----+------+------------------+----------+

10. Insira um novo pedido com cliente_id 1 e total 100.00.

In [22]:
%%sql
INSERT INTO pedidos (cliente_id, total)
VALUES (1, 100.00)

Running query in 'sqlite:///'

1 rows affected.

++
||
++
++

In [24]:
%%sql
SELECT * FROM pedidos;

Running query in 'sqlite:///'

+----+------------+-------+
| id | cliente_id | total |
+----+------------+-------+
| 1  |     1      |  100  |
+----+------------+-------+

11.  Exclua todos os fornecedores.

In [25]:
%%sql
DELETE FROM fornecedores;

Running query in 'sqlite:///'

1 rows affected.

++
||
++
++